<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        p {
            text-align: center;
            padding-top: 100px;
        }
    </style>
</head>


<body>
<div class="jumbotron text-center">
    <h1>Welcome to Krack recognition</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-4">
            <% if(typeof image != 'undefined'){ %>
            <div style="height: 400px;"><img src="/uploads/<%= image %>" height="400"
                                             width="390"></div>
            <% } else{ %>
            <div style="height: 400px;"><img src="/uploads/error.png" height="400"
                                             width="390"></div>
            <script>
                setTimeout(function () {
                    location.reload();
                }, 5000000);
            </script>
            <% } %>
        </div>
        <div class="col-xs-4" style="margin-left: 300px;">
            <div style="background-color:#eee; height: 200px; margin-top: 80px">
                <ul class="list-group">
                    <% if (typeof val1 != 'undefined' && typeof val2 != 'undefined') { %>
                    <li class="list-group-item"><%= val1 %></li>
                    <li class="list-group-item"><%= val2 %></li>
                    <li class="list-group-item"><%= val3 %></li>
                    <li class="list-group-item"><%= val4 %></li>
                    <li class="list-group-item"><%= val5 %></li>
                    <% } else{ %>
                    <li class="list-group-item">No data to show</li>
                    <li class="list-group-item">No data to show</li>
                    <li class="list-group-item">No data to show</li>
                    <li class="list-group-item">No data to show</li>
                    <li class="list-group-item">No data to show</li>
                    <script>
                        setTimeout(function () {
                            location.reload();
                        }, 5000000);
                    </script>
                </ul>
                <% } %>

            </div>
        </div>
    </div>
    <div class="col-xs-11" style="text-align: center">
        <button onclick=location.reload(); type="button" class="btn btn-success">Ok</button>
        <button type="button" class="btn btn-primary">Siguiente</button>
        <button onclick="httpGet()" type="button" class="btn btn-danger">Salir</button>
    </div>
</div>

<script>
    function httpGet() {
        window.location.replace("http://localhost:3000/welcome");
    }
</script>
</body>
</html>
