<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Krack Recognition</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="shortcut icon" href="/img/fav.png"/>
    <style>
        .container__info_line .container__info_item:first-child {
            width: auto;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="container_top_line">
        <div class="container_top_line_title">KRACK RECOGNITION</div>
        <button class="container_top_line_button" onclick="httpGet()">SALIR</button>
    </div>
    <div class="container__main_content">
        <div class="container__camera_image__wrapper" style="width: 1200px">
            <% if(typeof imageSrc !== 'undefined'){ %>
            <img src="../uploads/<%= imageSrc %>" class="container_camera__image"
                 style="width: 100%; max-width:100%; height:auto">
            <% } else{ %>
                <img src="../img/camera.png" alt="camera" class="container_camera__image">
                <div class="container__camera_info">Nada está detectado.</div>
            <% } %>

        </div>
        <div class="container__info">
            <div>
                <div class="container__info_title">ESCANEADO:</div>
                <div class="container__info_values top_info">
                    <div class="container__info_sub_title"></div>
                    <div class="container__info_line">
                        <div class="container__info_item">
                            <div class="container__info_item_title">MARCA</div>
                            <div class="container__info_item_value"><%= typeof scannedData !== 'undefined' ? scannedData.brand : '' %></div>
                        </div>
                        <div class="container__info_item">
                            <div class="container__info_item_title">COLOR</div>
                            <div class="container__info_item_value"><%= typeof scannedData !== 'undefined' ? scannedData.color: '' %></div>
                        </div>
                    </div>
                    <div class="container__info_line">
                        <div class="container__info_item">
                            <div class="container__info_item_title">MODELO</div>
                            <div class="container__info_item_value"><%= typeof scannedData !== 'undefined' ? scannedData.model : '' %></div>
                        </div>
                        <div class="container__info_item">
                            <div class="container__info_item_title">TALLA</div>
                            <div class="container__info_item_value"><%= typeof scannedData !== 'undefined' ? scannedData.size : ' ' %></div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="container__info_title ">ENCONTRADO EN LA BASE DE DATOS:</div>
                <div class="container__info_values bottom_info">
                    <div class="container__info_sub_title"></div>
                    <div class="container__info_line">
                        <div class="container__info_item">
                            <div class="container__info_item_title">MARCA</div>
                            <div class="container__info_item_value"><%= mark %></div>
                        </div>
                        <div class="container__info_item">
                            <div class="container__info_item_title">COLOR</div>
                            <div class="container__info_item_value"><%= color %></div>
                        </div>
                    </div>
                    <div class="container__info_line">
                        <div class="container__info_item">
                            <div class="container__info_item_title">MODELO</div>
                            <div class="container__info_item_value"><%= model%></div>
                        </div>
                        <div class="container__info_item">
                            <div class="container__info_item_title">TALLA</div>
                            <div class="container__info_item_value"><%= size %></div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="bottom_btn" style="width: 450px" onclick=location.reload();>OK - SIGUIENTE</button>
        </div>
    </div>
    <div class="copy_author">Copyright © 2020 Krack Recognition</div>
</div>

<script>



setTimeout(function () {
    location.reload();
}, 2000);

    function httpGet() {
        window.location.replace("/");
    }
</script>
</body>
</html>